.container-fluid {
  padding: 7% 15%;
}

.instagram_feed {
  overflow: hidden;
  padding-top: 3%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2 rem;
  font-weight: 400;
}

.coloredSection {
  background: rgb(238,66,102);
background: linear-gradient(114deg, rgba(238,66,102,1) 0%, rgba(82,72,156,1) 33%, rgba(64,98,187,1) 66%, rgba(89,195,195,1) 100%);
  color: white;
}

.whiteSection {
  background-color: white;
  color: black;
}

.big-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.title-image {
  width: 60%;
  /* right: 30%; */
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2 rem;
  font-weight: 700;
}

.h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8 rem;
  font-weight: 700;
}

.p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
}

.sign-up-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#extra-spacing-header {
  margin-bottom: 6%
}

#extra-spacing {
  margin-bottom: 3%
}

#aboutUsSection {
  text-align: center;
  padding: 100px;
}

#differentCampsSection {
  text-align: center;
  padding: 100px;
}

#studentWorkSection {
  text-align: center;
  padding: 100px;
}

#signUpSection {
  text-align: center;
  padding: 100px;
}

#referSection {
  text-align: center;
  padding: 100px;
}

#FAQSection {
  text-align: center;
  padding: 100px;
}

#reviewsSection {
  text-align: center;
  padding: 100px;
}

#contactUsSection {
  text-align: center;
  padding: 100px;
}

#footerSection {
  text-align: center;
  padding: 100px;
}

@media only screen and (max-width: 900px){
  #signUpSection {
    padding: 5px;
  }

  #differentCampsSection {
    padding: 5px;
    text-align: center;
  }

  #studentWorkSection {
    padding: 5%;
  }

  #FAQSection {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
