.container-fluid {
  padding: 7% 15%;
}

.instagram_feed {
  overflow: hidden;
  padding-top: 3%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2 rem;
  font-weight: 400;
}

.coloredSection {
  background: rgb(238,66,102);
background: linear-gradient(114deg, rgba(238,66,102,1) 0%, rgba(82,72,156,1) 33%, rgba(64,98,187,1) 66%, rgba(89,195,195,1) 100%);
  color: white;
}

.whiteSection {
  background-color: white;
  color: black;
}

.big-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.title-image {
  width: 65%;

  bottom: -135px;
  position: absolute;
  left: 50%;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2 rem;
  font-weight: 700;
}

.h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8 rem;
  font-weight: 700;
}

.p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
}

.sign-up-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#extra-spacing-header {
  margin-bottom: 6%
}

#extra-spacing {
  margin-bottom: 3%
}

#aboutUsSection {
  text-align: center;
  padding: 100px;
}

#differentCampsSection {
  text-align: center;
  padding: 100px;
}

#studentWorkSection {
  text-align: center;
  padding: 100px;
}

#signUpSection {
  text-align: center;
  padding: 100px;
}

#referSection {
  text-align: center;
  padding: 100px;
}

#FAQSection {
  text-align: center;
  padding: 100px;
}

#reviewsSection {
  text-align: center;
  padding: 100px;
}

#shopSection {
  text-align: center;
}

#contactUsSection {
  text-align: center;
  padding: 100px;
}

#footerSection {
  text-align: center;
  padding: 100px;
}

#pills-iOS {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
}

#pills-web {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
}

#pills-procreate {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
}

#pills-python {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
}

#pills-junior {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 20px;
}

.nav-pills > li > a.active {
    background: linear-gradient(114deg, rgba(238,66,102,1) 0%, rgba(82,72,156,1) 33%, rgba(64,98,187,1) 66%, rgba(89,195,195,1) 100%)!important;
    color: white;
}

.typeform-widget {
  height: 650px;
  width: 100%
}


@media only screen and (max-width: 1200px) and (min-width: 900px){
  .title-image {
    left: 60%;
    bottom: -100px;
  }
}

@media only screen and (max-width: 900px){
  #signUpSection {
    padding: 5px;
  }

  #differentCampsSection {
    padding: 5px;
    text-align: center;
  }

  #reviewsSection {
    padding: 5px;
    text-align: center;
  }

  #studentWorkSection {
    padding: 5%;
  }

  #FAQSection {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .review-text2 {
    font-size: 22px;
  }

  .review-text3 {
    font-size: 20px;
  }

  .review-text4 {
    font-size: 18px;
  }

  .title-image {
    width: 50%;
    left: 60%;
    bottom: -60px;
  }

  .typeform-widget {
    height: 500px;
    width: 100%
  }
}
